<% include partials/header %>

<div id="form">
  <h1>New Product:</h1>
<form  method="POST" action="/products">

  <div class="form-group">
    <label>Product</label>
    <input class=form-control type=text name="product[name]">
  </div>
  <div class="form-group">
      <label>Image URl</label>
    <input class=form-control type=text name="product[image]">
  </div>
  <div class="form-group">
    <label>Price</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input class=form-control type=number name="product[price]">
    </div>
  </div>
  <div class="form-group">
    <textarea class=form-control rows=8 placeholder="Add a description..." name=product[description]></textarea>
  </div>
  <div class="form-group">
    <input class=form-control placeholder="In Stock (number)" type=number name="product[stock]">

</div>
  <input class="btn btn-default btn-lg btn-block" type="submit">

</form>
</div>

<% include partials/footer %>
